@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf') format('truetype');
}
body {
    background-color: #D4CFCF;
}
.segment {
    border-radius: 0px;
}
.center {
    text-align: center;
}
.segment-header {
    font-size: 16px;
    font-weight: bold;
}
.ui[class*="left icon"].input>input {
    padding-left: 2em!important;
    padding-right: 1em!important;
}
.surya-footer {
    margin: 25px;
}
.header-app {
    height: 163px;
    width: 100%;
    box-shadow: 0px 1px 5px black;
    background-color: #E88B02;
    color: azure;
}
.title-app {
    padding: 25px;
    text-transform: uppercase;
    padding: 25px;
    font-size: 45px;
    font-weight: bold;
    height: 150px;
}
.title-app > a > p {
    margin-top: -10px;
    font-size: 25px;
}
.title-app > a {
    color: azure;
}
.info-app {
    padding: 20px;
    background-color: green;
    color: white;
    font-weight: 500;
    height: 150px;
}
.body-app {
    margin: 50px 150px;
}
.title-menu {
    font-size: 24px;
    font-weight: bold;
}
.detail-menu {
    font-size: 16px;
}
.icon-menu {
    font-size: 60px;
}
.keluar {
    text-transform: uppercase;
    font-weight: bold;
}
.ui.olive.button.small.keluar {
    float: right;
    border-radius: 0px !important;
}
.page-app {
    margin: 25px 150px;
}
.total-data {
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
}
.button {
    border-radius: 0px !important;
}
.title-page {
    font-size: 28px;
    font-weight: bold;
}
td > div > button > i {
    margin: 0 !important;
}
td > div > button {
    padding: 10px 5px !important;
}
a:hover {
    cursor: pointer;
}
.perPage {
    text-align: center;
}
.perPage > .ui.center.aligned.dropdown {
    border-radius: 0 !important;
}
input[type=time] {
    border-bottom: 1px solid #DDD !important;
}
